<div class="card mb-3">
  <div class="card-header" id="<%= cart_item.id %>">
    <div class="row align-items-center">
      <div class="col-6">
        <h5 class="mb-0">
          <a href="#product_<%= cart_item.product.id %>" data-bs-toggle="collapse"  aria-expanded="true" aria-controls="collapseExample">
            <%= cart_item.product.name %>
          </a>
        </h5>
      </div>
      <div class="col-6">
        <%= form_with(url: remove_from_cart_path) do |f| %>
          <%= f.hidden_field :product_id, value: cart_item.product_id %>
          <%= f.submit "Remove", class: "btn btn-sm btn-danger float-end" %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="product_<%= cart_item.product.id %>" class="collapse show">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <strong>Quantity</strong>
        </div>
        <div class="col-2">
          <%= cart_item.quantity %>
        </div>
        <div class="col-4 offset-4">
          <%= form_with(url: add_to_cart_path, class: "input-group") do |f| %>
            <%= f.hidden_field :cart, value: true %>
            <%= f.hidden_field :product_id, value: cart_item.product_id %>
            <div class="input-group">
              <span class="input-group-text" id="cart_item_quantity">+/-</span>
              <%= f.number_field :quantity, value: 0, class: "form-control mr-2" %>
              <%= f.submit "Add to cart", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-2">
          <strong>Price without discount</strong>
        </div>
        <div class="col-6">
          <%= number_to_currency (cart_item.product.price * cart_item.quantity), unit: "€" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-2">
          <strong>Discounts applied</strong>
        </div>
        <div class="col-6">
          <%= cart_item.discounts_applied.join(", ") %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-2">
          <strong>Discount amount</strong>
        </div>
        <div class="col-6">
          <%= number_to_currency cart_item.discount_amount, unit: "€" %>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-2">
          <strong>Total price</strong>
        </div>
        <div class="col-2">
          <% if cart_item.discount_amount > 0 %>
            <del><%= number_to_currency (cart_item.product.price * cart_item.quantity).ceil(2), unit: "€" %></del>
          <% end %>
          <strong><%= number_to_currency cart_item.total_price, unit: "€" %></strong>
        </div>
      </div>
    </div>
  </div>
</div>
