<div class="container-fluid mt-4 align-items-center">
  <div class="row">
    <div class="col-6">
      <h1>Your cart</h1>
    </div>
    <div class="col-6">
      <%= link_to "Products", products_path, class: "btn btn-success mt-1 float-end" %>
    </div>
  </div>
  <hr/>

  <div class="container mb-5">
    <div class="text-center">
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:error] %></p>
    </div>

    <% @cart.cart_items.order(created_at: :asc).each do |cart_item| %>
      <%= render "cart_item", cart_item: %>
    <% end %>

    <hr/>

    <div class="row align-items-center mb-2">
      <div class="col-12">
        <h3>Total cart value: <%= number_to_currency @cart.cart_items.sum(&:total_price), unit: "€" %>
      </div>
    </div>
    <div class="row align-items-center mb-2">
      <div class="col-12">
        <h3>Total discount amount: <%= number_to_currency @cart.cart_items.sum(&:discount_amount), unit: "€" %>
      </div>
    </div>
  </div>
</div>
