<tr>
  <td><%= pricing_rule.discount_type %></td>
  <td><%= minimum_amount(pricing_rule) %></td>
  <td><%= discount_amount(pricing_rule) %></td>
  <td><%= pricing_rule.status %></td>
  <td class="d-flex justify-content-center">
    <%= link_to "Edit", edit_pricing_rule_path(pricing_rule), class: "btn btn-sm btn-secondary" %>
  </td>
</tr>
